/* global layout */

header {
  padding: 1.5rem 4rem;
  display: grid;
}

main {
  padding: 4rem 4rem;
}

section {
  margin-bottom: 1rem;
}

/* navigation */

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* hero */

.hero {
  text-align: center;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero p {
  margin: 1.5rem auto 2.5rem;
}

/* features */

.feature-section {
  display: grid;
  text-align: center;
}

.feature-section > h2 {
  margin-bottom: 3rem;
}
.features{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.card {
  max-width: 700px;
  margin: 2rem auto;
  text-align: left;
  padding: 2rem;
}

/* philosophy */

.philosophy {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

/* footer */

footer {
  text-align: center;
  padding: 3rem 2rem;
}
