/* global layout */

header {
  padding: 1.5rem 4rem;
  display: grid;
}

main {
  padding: 4rem 4rem;
}

section {
  margin-bottom: 1rem;
}

/* navigation */

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}



 /* AFFIRMATION CARDS CONTAINER */
.affirmation-cards-container {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

/* CHECKLIST */
.checklist {
  list-style: none;
  padding: 0;
}


/* footer */
footer {
  text-align: center;
  padding: 3rem 2rem;
}
