/* global layout */

header {
  padding: 1.5rem 4rem;
  display: grid;
}

main {
  padding: 4rem 4rem;
}

section {
  margin-bottom: 1rem;
}

/* navigation */

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* hero */

.hero {
  text-align: center;
  margin-top: 6rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hero p {
  margin: 1.5rem auto 2.5rem;
}

/* features */

.features {
  text-align: center;
}

.features > h2 {
  margin-bottom: 3rem;
}

.feature {
  max-width: 700px;
  margin: 2rem auto;
}

/* philosophy */

.philosophy {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

/* footer */

footer {
  text-align: center;
  padding: 3rem 2rem;
}
